@section Scripts {
    <script src="~/js/Account.js"></script>
}
<h1 style="text-align:center"> Create Account</h1>
<div>
    <form action="/Login/RegisterAccount" method="POST">
            <div class="my_tbl" style="text-align:center">
                <div class="my_row">
                    <div class="my_cell">
                        <b>Username:</b>
                    </div>
                    <div class="my_cell">
                        <input name="userName" id="userName" required />
                    </div>
                    <div class="my_cell">
                        <b>E-Mail:</b>
                    </div>
                    <div class="my_cell">
                        <input name="email" id="email"type="email" required />
                    </div>
                    <div class="my_row">
                        <div class="my_cell">
                            <b>Password:</b>
                        </div>
                        <div>
                            <input name="password" id="password" type="password"required />
                        </div>
                        <div class="my_cell">
                            <b>Confirm Password:</b>
                        </div>
                        <div>
                            <input name="confirmPass" id="confirmPass" type="password" style="margin-left:135px" required />
                            <input type="button" id="btnCheck" value="Check Password" title="Check Password" onclick="checkpass()" />  @*Checkpass is a javascript function that will do validation on the passwords*@
                        </div>
                    </div>
                    <div class="my_row">
                        <div class="my_cell"></div>
                        <div class="my_cell" style="text-align: center">
                            <br />
                            <input type="submit" id="submitCreate" value="Submit" class="btn btn-primary" title="Please Check Password" disabled /> @*Button Disabled at first until checkpassword is okay so that user would not be able to create account unless validation is done*@
                            <input type="reset" value="Reset" class="btn btn-primary" title="Reset Form" />
                        </div>
                    </div>
                </div>
        </div>
    </form>
</div>
