@{
    ViewData["Title"] = "About";
}

<br />
<h5>CA Project by SA53 Team 5</h5>
<p></p>
<p><b>Group Members</b></p>
Lee Chia Yan Kenny<br />
Lee Zhi Jie<br />
Lew Xu Hong<br />
Li Hangyu<br />
Marcus Wong Wen Wei<br />
Ong Ee Loon<br />
Thar Lin Htet<br />
Xin Yuchen
